*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 14, 12);
    padding: 10px 20px;
    font-size: large;
    height: 40px;
    color: blue;

}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profileIcon{
    width: 30px;
}
.logout{
    cursor: pointer;
}